main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main--texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

main .main--texts h2 {
  margin-bottom: 1em;
}

main .main--funcionalities {
  margin-top: 3.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 374px) and (min-width: 320px) {
  main .main--funcionalities {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 620px) and (min-width: 375px) {
  main .main--funcionalities {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1200px) and (min-width: 621px) {
  main .main--funcionalities {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .main--funcionalities .macImage {
  margin-right: 8.5em;
}

@media (max-width: 374px) and (min-width: 320px) {
  main .main--funcionalities .macImage {
    text-align: center;
    margin: 3.5em 0 3.5em 0;
  }
  main .main--funcionalities .macImage img {
    width: 80%;
  }
}

@media (max-width: 620px) and (min-width: 375px) {
  main .main--funcionalities .macImage {
    text-align: center;
    margin: 3.5em 0 3.5em 0;
  }
  main .main--funcionalities .macImage img {
    width: 80%;
  }
}

@media (max-width: 1200px) and (min-width: 621px) {
  main .main--funcionalities .macImage {
    margin: 3.5em 0 3.5em 0;
  }
  main .main--funcionalities .macImage img {
    width: 35em;
  }
}

main .main--funcionalities .funcionalities ul {
  list-style: none;
}

@media (max-width: 1200px) and (min-width: 621px) {
  main .main--funcionalities .funcionalities ul {
    text-align: center;
  }
}

main .main--funcionalities .funcionalities ul h3 {
  margin-bottom: 1em;
}

main .main--funcionalities .funcionalities ul li {
  margin-bottom: 2.5em;
}

html {
  font-size: 62.5%;
}

@media (max-width: 374px) and (min-width: 320px) {
  html {
    font-size: 52.5%;
  }
}

@media (max-width: 620px) and (min-width: 375px) {
  html {
    font-size: 72.5%;
  }
}

@media (max-width: 1200px) and (min-width: 621px) {
  html {
    font-size: 52.5%;
  }
}

html body {
  font-size: 1.8rem;
}

html body h1 {
  font-size: 3em;
}

html body h2 {
  font-size: 2em;
}

.funcionalities span {
  font-size: 0.85em;
}

.tools--list h4 {
  font-size: 1.25em;
}

.tools--list span {
  font-size: 0.85em;
}

.tools--list p {
  font-size: 0.85em;
}

header {
  padding: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("/assets/images/bg-header-desktop.png");
  background-size: contain;
  background-repeat: no-repeat;
}

header .header--texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) and (min-width: 621px) {
  header .header--texts {
    text-align: center;
  }
}

@media (max-width: 620px) and (min-width: 375px) {
  header .header--texts {
    text-align: center;
  }
}

@media (max-width: 374px) and (min-width: 320px) {
  header .header--texts {
    text-align: center;
  }
}

header h1 {
  margin: 2.5rem 0 2.5rem 0;
  color: #4c545d;
}

header .header--span {
  text-align: center;
  line-height: 2.5rem;
  width: 65%;
}

header .downloadButtons.header {
  margin: 10rem 0 0 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main--texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

main .main--texts h2 {
  margin-bottom: 1em;
}

main .main--funcionalities {
  margin-top: 3.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 374px) and (min-width: 320px) {
  main .main--funcionalities {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 620px) and (min-width: 375px) {
  main .main--funcionalities {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1200px) and (min-width: 621px) {
  main .main--funcionalities {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .main--funcionalities .macImage {
  margin-right: 8.5em;
}

@media (max-width: 374px) and (min-width: 320px) {
  main .main--funcionalities .macImage {
    text-align: center;
    margin: 3.5em 0 3.5em 0;
  }
  main .main--funcionalities .macImage img {
    width: 80%;
  }
}

@media (max-width: 620px) and (min-width: 375px) {
  main .main--funcionalities .macImage {
    text-align: center;
    margin: 3.5em 0 3.5em 0;
  }
  main .main--funcionalities .macImage img {
    width: 80%;
  }
}

@media (max-width: 1200px) and (min-width: 621px) {
  main .main--funcionalities .macImage {
    margin: 3.5em 0 3.5em 0;
  }
  main .main--funcionalities .macImage img {
    width: 35em;
  }
}

main .main--funcionalities .funcionalities ul {
  list-style: none;
}

@media (max-width: 1200px) and (min-width: 621px) {
  main .main--funcionalities .funcionalities ul {
    text-align: center;
  }
}

main .main--funcionalities .funcionalities ul h3 {
  margin-bottom: 1em;
}

main .main--funcionalities .funcionalities ul li {
  margin-bottom: 2.5em;
}

.mobilitySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 7.5em;
}

.mobilitySection .mobility--texts {
  text-align: center;
  margin-bottom: 7em;
}

.mobilitySection .mobility--texts h2 {
  margin-bottom: 0.7em;
}

@media (max-width: 374px) and (min-width: 320px) {
  .mobilitySection {
    text-align: center;
  }
  .mobilitySection img {
    width: 80%;
  }
}

@media (max-width: 620px) and (min-width: 375px) {
  .mobilitySection {
    text-align: center;
  }
  .mobilitySection img {
    width: 80%;
  }
}

@media (max-width: 1200px) and (min-width: 621px) {
  .mobilitySection img {
    width: 35em;
  }
}

.toolsProductivity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.toolsProductivity .productivity--texts {
  text-align: center;
}

.toolsProductivity .productivity--texts h2 {
  margin-bottom: 0.85em;
}

.toolsProductivity .tools--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5em;
}

@media (max-width: 374px) and (min-width: 320px) {
  .toolsProductivity .tools--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 620px) and (min-width: 375px) {
  .toolsProductivity .tools--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.toolsProductivity .tools--list .tools--desc {
  width: 50%;
  text-align: center;
}

.toolsProductivity .tools--list .tools--desc h4 {
  margin-top: 1.2em;
}

@media (max-width: 620px) and (min-width: 375px) {
  .toolsProductivity .tools--list .tools--desc h4 {
    margin-top: 0;
  }
  .toolsProductivity .tools--list .tools--desc p {
    margin-bottom: 3em;
  }
  .toolsProductivity .tools--list .tools--desc span {
    display: block;
    margin-bottom: 3em;
  }
}

.toolsProductivity .tools--list .tools--desc div {
  margin-bottom: 1.2em;
}

.enterprises {
  margin: 5em 0;
}

.enterprises ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10em;
}

.enterprises ul li {
  margin: auto;
}

@media (max-width: 1200px) and (min-width: 621px) {
  .enterprises ul img {
    width: 7em;
  }
  .enterprises ul li {
    margin: 1em;
  }
}

@media (max-width: 374px) and (min-width: 320px) {
  .enterprises ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .enterprises ul li {
    margin: 1.5em 0;
  }
}

@media (max-width: 620px) and (min-width: 375px) {
  .enterprises ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .enterprises ul li {
    margin: 2em 0;
  }
}

.platforms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.platforms .platforms--texts {
  text-align: center;
  margin-bottom: 3em;
}

.platforms .platforms--texts h2 {
  margin-bottom: 0.65em;
}

footer {
  margin-top: 10em;
  background-color: #C7D1D6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 5em;
}

@media (max-width: 374px) and (min-width: 320px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 620px) and (min-width: 375px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer ul {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: #4c545d;
}

footer ul li {
  margin-right: 1em;
}

@media (max-width: 374px) and (min-width: 320px) {
  footer div {
    margin-right: 0.8em;
  }
}

footer div img {
  width: 3em;
}

@media (max-width: 620px) and (min-width: 375px) {
  footer div {
    margin-right: 0.8em;
  }
}

footer div img {
  width: 3em;
}

footer .options--footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
}

@media (max-width: 374px) and (min-width: 320px) {
  footer .options--footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0;
  }
  footer .options--footer li {
    margin-bottom: 1.5em;
  }
}

@media (max-width: 620px) and (min-width: 375px) {
  footer .options--footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0;
  }
  footer .options--footer li {
    margin-bottom: 1.5em;
  }
}

footer .social-media--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #active a {
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

footer #active a:hover {
  color: #26baa4;
}

footer img[alt="TwitterIcon"] {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  cursor: pointer;
}

footer img[alt="TwitterIcon"]:hover {
  -webkit-filter: invert(61%) sepia(35%) saturate(5788%) hue-rotate(161deg) brightness(96%) contrast(102%);
          filter: invert(61%) sepia(35%) saturate(5788%) hue-rotate(161deg) brightness(96%) contrast(102%);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
}

.downloadButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.downloadButtons .downloadButtonIos {
  padding: 1.5rem 3rem;
  background-color: #26baa4;
  border-radius: 5rem;
  color: #FFF;
  cursor: pointer;
  -webkit-box-shadow: 0 2.5px 1px #509C8E;
          box-shadow: 0 2.5px 1px #509C8E;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.downloadButtons .downloadButtonIos:hover {
  background-color: #4DDBC4;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

.downloadButtons .downloadButtonMac {
  margin-left: 1rem;
  padding: 1.5rem 3rem;
  background-color: #6173ff;
  border-radius: 5rem;
  color: #FFF;
  cursor: pointer;
  -webkit-box-shadow: 0 2.5px 1px #58609F;
          box-shadow: 0 2.5px 1px #58609F;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.downloadButtons .downloadButtonMac:hover {
  background-color: #7684F2;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

h2 {
  color: #4c545d;
}

h3 {
  color: #4c545d;
}

h4 {
  color: #4c545d;
}

p {
  color: #9fabb2;
}

span {
  color: #9fabb2;
}
/*# sourceMappingURL=main.css.map */