$white: #FFF;
$StrongCyan: #26baa4;
$hoverCyan: #4DDBC4;
$lightBlue: #6173ff;
$hoverBlue: #7684F2;
$darkBlue: #58609F;
$darkCyan: #509C8E;
$grayDarkness: 	#4c545d;
$gray: 	#9fabb2;
$footerBg: #C7D1D6;