@import './mainContentSection';
html{
    font-size: 62.5%;
    body{
        font-size: 1.8rem;
        h1{
            font-size: 3em;
        }
        h2{
            font-size: 2em;
        }
    }
}
.funcionalities{
    span{
        font-size: 0.85em;
    }
}
.tools--list{
    h4{
        font-size: 1.25em;
    }
    span{
        font-size: 0.85em;
    }
    p{
        font-size: 0.85em;
    }
}