@import 'mixins';
@import 'colors';
@import './responsiveness';
header{
    padding: 10rem;
    @include flexCenter;
    flex-direction: column;
    background-image: url('/assets/images/bg-header-desktop.png');
    background-size: contain;
    background-repeat: no-repeat;
    .header--texts{
        @include flexCenter;
        flex-direction: column;
        @include tablet{
            text-align: center;
        }
        @include cellphone{
            text-align: center;
        }
        @include cellphoneSmall{
            text-align: center;
        }
    }
    h1{
        margin: 2.5rem 0 2.5rem 0;
        color: $grayDarkness
    }
    .header--span{
        text-align: center;
        line-height: 2.5rem;
        width: 65%;
    }
    .downloadButtons.header{
        margin: 10rem 0 0 0;
    }
}