@import 'colors';
@import 'mixins';
@import 'responsiveness';
    main{
        @include flexCenter;
        flex-direction: column;
        .main--texts{
            @include flexCenter;
            flex-direction: column;
            text-align: center;
            h2{
                margin-bottom: 1em;
            }
        }
        .main--funcionalities{
            margin-top: 3.5em;
            width: 100%;
            display: flex;
            align-items: center;
            @include cellphoneSmall{
                flex-direction: column;
                justify-content: center;
            }

            @include cellphone{
                flex-direction: column;
                justify-content: center;
            }
            @include tablet {
                flex-direction: column;
                justify-content: center;
            }
            .macImage{
                @include cellphoneSmall{
                    text-align: center;
                    img{
                        width: 80%;
                    }
                    margin: 3.5em 0 3.5em 0;
                }

                @include cellphone{
                    text-align: center;
                    img{
                        width: 80%;
                    }
                    margin: 3.5em 0 3.5em 0;
                }

                @include tablet{
                    img{
                        width: 35em;
                    }
                    margin: 3.5em 0 3.5em 0;
                }
                margin-right: 8.5em;
            }
            .funcionalities{
                ul{
                    list-style: none;
                    @include tablet {
                        text-align: center;
                    }
                    h3{
                        margin-bottom: 1em;
                    }
                }
                ul li{
                    margin-bottom: 2.5em;
                }
            }
        }
    }