@import 'colors';
@import 'mixins';
@import './responsiveness';
.mobilitySection{
    @include flexCenter;
    flex-direction: column;
    margin-top: 7.5em;
    .mobility--texts{
        text-align: center;
        h2{
            margin-bottom: 0.7em;
        }
        margin-bottom: 7em;
    }
    @include cellphoneSmall{
        text-align: center;
        img{
            width: 80%;
        }
    }
    @include cellphone{
        text-align: center;
        img{
            width: 80%;
        }
    }
    @include tablet {
        img{
            width: 35em;
        }
    }
}